@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.home-info img {
  animation: 2s upDown infinite;
}
section {
  padding-top: 100px;
  padding-bottom: 128px;
  position: relative;
}
section::before {
  z-index: -1;
  content: "";
  font-size: 72px;
  color: gray;
  position: absolute;
  top: 0px;
  left: -30px;
}
.navbar {
  background-color: white;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  position: sticky;
  z-index: 1;
}
.btn {
  border: 3px solid black;
  border-radius: 32px;
}
.btn.button {
  border: 3px solid black;
  border-radius: 32px;
}

.btn:hover,
.btn.button.active {
  border: 3px solid black;
  background-color: black;
  color: white;
}

.home-info img {
  width: 32px;
}
.home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#home {
  padding-bottom: 128px;
}
.home img {
  width: 256px;
  border-radius: 360px 360px;
}

.about-exp-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-exp-item {
  margin-top: 24px;
}
.about::before {
  content: "About";
}

.about-exp-item-detail {
  display: none;
}
.card-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.work::before {
  content: "Work";
}

.contack::before {
  content: "Contact";
}
.contact-form {
  border: 2px solid black;
  padding: 64px 32px;
}
@media (max-width: 756px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
  }
  .home img {
    width: 128px;
    border-radius: 360px;
    border: 1px;
  }
  section::before {
    left: -0px;
  }
  .card-item {
    flex-direction: column;
    row-gap: 24px;
  }
  .container {
    padding-inline: 64px;
  }
}
